@font-face {
    font-family: Omnes;
    src: url(../../tipografias/Omnes.ttf);
    }

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    min-height: 100vh;
    font-family: Omnes;
    background-color: rgb(245, 245, 245);
}

header {

    background: url(../../images/nosotros/banner-mob.png) no-repeat bottom center;
    background-size: cover;
    padding: 30px 25px;
    position: relative; 
}

.none {

    display: none;
}

.hidden {

    visibility: hidden;
}

.navEsc, .piePag__copyEsc{

    display: none;
}

.navMovil {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navMovil > div > img {

    width: 140px;
}

.navMovil__boton, .menuMovil__botonCerrar {

    border: none;
    outline: none;
    background-color: transparent;
}

.navMovil__boton:hover {

    cursor: pointer;
}

.menuMovil {

    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.menuMovil__botonLogo {

    display: flex;
    flex-direction: column;
    
}

.menuMovil__botonCerrar {

    align-self: flex-end;
    margin-bottom: 20px;
}

.menuMovil__botonCerrar:hover {

    cursor: pointer;
}

.menuMovil__logo {

    width: 45px;
    margin: 0 auto;
}

.menuMovil__menu {

    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.menuMovil__menu > a {

    text-decoration: none;
    color: rgb(27, 27, 27);
    font-size: 20px;
    border-bottom:  1px solid rgb(211, 211, 211);
    width: 90%;
    padding: 20px 0;
    text-align: center;
    
}

.menuMovil__menu > .menuMovil__menu--ultimo {

    border: none;
    color: #22E49E;
    font-weight: 600;
}

.menuMovil__menu--ultimo {

    border: none;
}

.menuMovil__redes {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0 20px 0;
    border-top: 1px solid rgb(211, 211, 211);
}

.menuMovil__redes > p {

    letter-spacing: 2px;
    margin-right: 20px;
}

.menuMovil__redes > a {

    margin-right: 14px;
}

.menuMovil__redes > a:hover {

    cursor: pointer;
}

.headerConten {

    color: #fff;
    margin: 20.3vw 10vw 30.3vw 0;
}

.headerConten__tit {

    font-weight: 500;
    font-size: 7vw;
    line-height: 9vw;
}

.headerConten__subtit {

    font-size: 3.1vw;
    font-weight: 500;
    width: 90%;
    margin-top: 8px;
    line-height: 20px;
    letter-spacing: 1px;
}

.medios {

    background: url(../../images/nosotros/fondo-medios-mobile.png) no-repeat bottom center;
    background-size: cover;
    padding: 40px 30px;
    position: relative;
}

.medios__info > h2 {

    font-weight: 500;
    font-size: 16px;
    width: 15em;
    line-height: 23px;
    letter-spacing: 3px;
    word-spacing: 3px;

}

.medios__info > p {

    line-height: 30px;
    font-size: 21px;
    margin: 13px 0;
    font-weight: 600;
}

.medios__info > p > span, .logros > h2 > span {

    background-color: #22E49E;
}

.medios__cuentas {

    margin: 40px 0;
}

.medios__logos {

    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.medios__logos > button {

    border: none;
    background-color: transparent;
    opacity: 0.5;
    outline: none;
    transition: 0.3s;
}

.medios__logos .opac{

    opacity: 1;
}

.medios__logos > button:hover {

    cursor: pointer;
    transition: 0.3s;
    opacity: 1;
}

.medios__logos > button > img {

    width: 70px;
}

.cuentas__datos {

    display: flex;
    align-items: center;
    text-align: center;
    overflow: hidden;
    width: 261px;
    margin: 0 auto;
}

.cuentas__datosCaja {

    transition: 0.5s;
} 

input[type=radio] {

    position: absolute;
    display: none;
}

.cuentas__nav {

    position: absolute;
    display: flex;
    bottom: 2em;
    left: 51%;
    transform: translateX(-50%);
}

.cuentas__cir{

    width: 20px;
    background: transparent;
    height: 22px;
    border-radius: 50px;
    margin: 0 5px;
    border: 1px solid #000;
}

.cuentas__cir:hover {

    background: #22E49E;
    cursor: pointer;
}

#r1:checked ~ .s1 {

    margin-left: 0;
}

#r2:checked ~ .s1 {

    margin-left: -100%;
}

#r3:checked ~ .s1 {

    margin-left: -200%;
}

.cuentas__datosNum > h3 {

    font-size: 5em;
    font-weight: 500;
}

.cuentas__datosNum > p {

    font-size: 1.1em;
    margin: 10px 35px;
    letter-spacing: 2px;

}

.logros {

    background: url(../../images/nosotros/fondo-logros-mobile.png) no-repeat bottom center;
    background-size: cover;
    padding: 40px 23px 40px 23px;
}

.logros > h2 {

    font-weight: 500;
    font-size: 18px;
    word-spacing: 3px;
    text-align: center;
}

.logros > img {

    margin: 35px auto;
    display: block;
    width: 17.7em;
}

.logros__info {

    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.info__box {

    margin: 20px auto;
    width: 16em;
}

.info__box > div {

    display: flex;
    align-items: center;
}

.info__box > div > h3 {

    font-size: 23px;
    font-weight: 500;
    margin-left: 10px;
}

.info__box > div > img {

    width: 40px;
}

.info__box > p {

    margin-top: 20px;
    line-height: 22px;
    word-spacing: 2px;
    font-size: 15px;

}

.info__box:nth-child(2) {

    border: 4px dashed #22E49E;
    padding: 20px;
    border-radius: 25px;
    width: 17.5em;
    position: relative;
    right: 1.2em;
}

.logrosInfo {

    background: url(../../images/nosotros/lineas-colores-mobile.png) no-repeat center center;
    background-size: cover;
    position: relative;
    bottom: 2em;
}

.logrosInfo > img {

    width: 93%;
}

.logrosInfo__box {

    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.logrosInfo__box > div {

    margin: 12px auto;
    width: 17.5em;
    display: flex;
    align-items: flex-start;
    position: relative;
    bottom: 2.5em;
    padding: 30px 20px 25px 20px;
    border-radius: 25px;
}

.logrosInfo__box > div > img {

    height: 18px;
    margin-right: 10px;
}

.logrosInfo__box > div > p {

    color: #fff;
    font-size: 13px;
    line-height: 21px;
    word-spacing: 1px;
}

.logrosInfo__box > div:nth-child(1) {

    background-color: #6735B8;
}

.logrosInfo__box > div:nth-child(2) {

    background-color: #A220B6;
}

.cliente {

    padding: 0 1.2em;
}

.cliente > h2 {

    font-weight: 500;
    margin-bottom: 10px;
    font-size: 26px;
}

.cliente__datos {

    margin: 30px 0;
}

.cliente__datos > img {

    width: 95%;
}

.datos__maria, .datos__mariaDos {

    position: relative;
    bottom: 3.5em;
}

.datos__maria > div, .datos__mariaDos > div {

    background-color: #fff;
    position: relative;
    padding: 32px 20px 20px 20px;
    border-radius: 25px;
    margin-bottom: 70px;
} 

.datos__maria > div > img, .datos__mariaDos > div > img {

    position: absolute;
    bottom: 80%;
    left: 0em;
    width: 68px;
}

.datos__maria > div > p, .datos__mariaDos > div > p {

    line-height: 25px;
}

footer {

    background: url(../../images/nosotros/fondo-footer-mobile.png) no-repeat;
    background-size: cover;
    border-radius: 30px 30px 0 0;
    padding: 40px 25px;
}

.accenture {

    margin: 15px 0;
}

.accenture > img {

    width: 75%;
}

.accenture > p {

    margin-top: 20px;
    line-height: 25px;
}

.piePag {

    margin-top: 40px;
}

.piePag__conver {

    border-top: 1px solid rgb(173, 173, 173);
    border-bottom: 1px solid rgb(173, 173, 173);
    text-align: center;
    padding: 25px 0 35px 0;
}

.piePag__conver > h3 {

    font-size: 24px;
    font-weight: 500;
    margin: 0 10px 18px 10px;
    line-height: 30px;
}

.piePag__conver > a {

    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #FF7F00;
    padding: 14px 0;
    display: inline-block;
    width: 140px;
    text-align: center;
    border-radius: 25px;
    font-size: 14px;
}

.piePag__enlacesSub {

    border-bottom: 1px solid rgb(173, 173, 173);
    padding: 25px 0;
}

.piePag__enlacesSub > form {

    text-align: center;
}

.piePag__enlacesSub > form > label {

    font-size: 18px;
    font-size: 500;
}

.piePag__enlacesSub .inputEmail {

    margin-top: 10px;
}

.piePag__enlacesSub .inputEmail > input[type=email] {

    outline: none;
    font-family: Omnes;
    padding: 12px 15px;
    border-radius: 20px;
    border: 1px solid rgb(160, 160, 160);
    font-size: 14px;
    margin-right: 5px;
}

.piePag__enlacesSub .inputEmail > input[type=submit] {

    text-decoration: none;
    outline: none;
    border: none;
    color: #000;
    background-color: #FF7F00;
    padding: 12px;
    border-radius: 20px;
    font-size: 15px;
}

.piePag__enlacesSub .inputEmail > input[type=submit]:hover {

    cursor: pointer;
}

.piePag__enlacesLocal {

    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.piePag__enlacesLocal--uno,  .piePag__enlacesLocal--dos{

    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 600;
}

.piePag__enlacesLocal--dos {

    text-align: right;
    margin-left: 10px;
} 

.piePag__enlacesLocal--uno > a, .piePag__enlacesLocal--dos > a {

    color: rgb(54, 54, 54);
    text-decoration: none;
    margin-bottom: 8px;
}

.piePag__enlacesLocal--uno > a:hover, .piePag__enlacesLocal--dos > a:hover {

    cursor: pointer;
}

.piePag__copyMov {

    margin-top: 15px;
    text-align: center;
}

.piePag__copyMov > div > a {

    margin: 0 4px;
}

.piePag__copyMov > div > a:nth-child(1) {

    filter: brightness(50%);
}

.piePag__copyMov > p {

    font-size: 11px;
    margin-top: 5px;
}

@media screen and (min-width: 768px) {

    header {

        background: url(../../images/nosotros/banner.png) no-repeat center center;
        background-size: cover;
    }

    .navMovil {

        margin: 0 40px;
    }

    .headerConten {

        margin: 6vw auto 22vw auto;
        text-align: center;
    }

    .headerConten__tit {

        font-size: 3.3vw;
        line-height: 4.5vw;
    }

    .headerConten__subtit {

        font-size: 1.5vw;
        width: 50%;
        margin: 10px auto 0 auto;
    }

    .medios {

        background: transparent;
        padding: 0 80px 60px 80px;
        position: relative;
        margin: 0 auto;
    }
    
    .medios__info > h2 {
    
        font-weight: 500;
        font-size: 17px;
        width: 24em;
        line-height: 23px;
        letter-spacing: 3px;
        word-spacing: 3px;
    
    }
    
    .medios__info > p {
    
        line-height: 35px;
        font-size: 28px;
        margin: 13px 30px 13px 0;
        font-weight: 600;
    }
    
    .medios__info > p > span, .logros > h2 > span {
    
        background-color: #22E49E;
    }
    
    .medios__cuentas {
    
        margin: 40px 0 10px 0;
    }
    
    .medios__logos {
    
        display: grid;
        grid-template-columns: repeat(6, 80px);
        justify-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }
    
    .medios__logos > img {
    
        width: 67px;
    }
    
    .cuentas__datos {
    
        display: flex;
        align-items: center;
        text-align: center;
        overflow: hidden;
        width: 430px;
        margin: 0 auto;
    }
    
    .cuentas__datosCaja {
    
        transition: 0.5s;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    } 
    
    input[type=radio] {
    
        position: absolute;
        display: none;
    }
    
    .cuentas__nav {
    
        position: absolute;
        display: flex;
        bottom: 2em;
        left: 51%;
        transform: translateX(-50%);
    }
    
    .cuentas__cir{
    
        width: 20px;
        background: transparent;
        height: 22px;
        border-radius: 50px;
        margin: 0 5px;
        border: 1px solid #000;
    }
    
    .cuentas__cir:hover {
    
        background: #22E49E;
        cursor: pointer;
    }
    
    #r1:checked ~ .s1 {
    
        margin-left: 0;
    }
    
    #r2:checked ~ .s1 {
    
        margin-left: -100%;
    }
    
    #r3:checked ~ .s1 {
    
        margin-left: -200%;
    }
    
    .cuentas__datosNum > h3 {
    
        font-size: 4em;
        font-weight: 500;
    }
    
    .cuentas__datosNum > p {
    
        font-size: 0.9em;
        margin: 10px 35px;
        letter-spacing: 2px;
    
    }

    .logros {

        background: url(../../images/nosotros/fondo-logros.png) no-repeat bottom right;
        background-size: cover;
        padding: 40px 23px 80px 23px;
    }
    
    .logros > h2 {
    
        font-size: 22px;
    }
    
    .logros > img {
    
        width: 35em;
    }
    
    .logros__info {
    
        padding: 0 90px;
        display: flex;
        flex-direction: row;
    }
    
    .info__box {
    
        margin: 20px auto;
        width: 30%;
        
    }
    
    .info__box:nth-child(2) {
    
        margin-left: 35px;
        width: 30%;
        bottom: 1.5em;
        padding: 15px;
    }

    .logrosInfo {

        background: url(../../images/nosotros/lineas-colores.png) no-repeat center center;
        background-size: cover;
        position: relative;
        bottom: 3em;
        display: flex;
        align-items: center;
    }
    
    .logrosInfo > img {
    
        width: 70%;
    }
    
    .logrosInfo__box {
    
        padding: 0;
        display: flex;
        flex-direction: column;
        position: relative;
        right: 7em;
        top: 2.5em;
    }
    
    .logrosInfo__box > div {
    
        margin: 12px auto;
        width: 22em;
        display: flex;
        align-items: flex-start;
        position: relative;
        bottom: 2.5em;
        padding: 30px 20px 25px 20px;
        border-radius: 25px;
    }
    
    .logrosInfo__box > div > img {
    
        height: 18px;
        margin-right: 10px;
    }
    
    .logrosInfo__box > div > p {
    
        color: #fff;
        font-size: 14px;
        line-height: 22px;
        word-spacing: 1px;
    }
    
    .logrosInfo__box > div:nth-child(1) {
    
        background-color: #6735B8;
    }
    
    .logrosInfo__box > div:nth-child(2) {
    
        background-color: #A220B6;
    }

    .cliente {
    
        padding: 0 3em;
    }

    footer {

        background: url(../../images/nosotros/fondo-footer.png) no-repeat;
        background-color: cover;
        border-radius: 0 160px 0 0;
        padding: 75px 25px 40px 25px;
    }

    .accenture {

        margin: 15px 0;
        display: flex;
        padding: 0 80px;
    }
    
    .accenture > img {
    
        width: 35%;
    }
    
    .accenture > p {
    
        margin: 20px 0 0 70px;
    }
    
    .piePag {
    
        margin-top: 100px;
    }
    
    .piePag__conver {
    
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 90%;
        margin: 0 auto;
        padding: 25px 30px 35px 30px;
    }
    
    .piePag__conver > h3 {
    
        font-size: 32px;
        margin: 0 10px 18px 10px;
        width: 40%;
        line-height: 35px;
        text-align: left;
        word-spacing: 3px;
    }

    .piePag__enlaces {

        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .piePag__enlacesSub {
    
        border: 0;
        padding: 25px 0;
        
    }
    
    .piePag__enlacesSub > form {
    
        text-align: left;
        display: flex;
        align-items: center;
    }
    
    .piePag__enlacesSub > form > label {
    
        font-size: 17px;
        margin-right: 10px;
    }
    
    .piePag__enlacesSub .inputEmail {
    
        margin: 0;
    }
    
    .piePag__enlacesSub .inputEmail > input[type=email] {

        padding: 11px 15px;
        width: 12em;
    }
    
    .piePag__enlacesSub .inputEmail > input[type=submit] {
        
        padding: 11px;

    }
    
    .piePag__enlacesLocal {
    
        justify-content: flex-start;
    }
    
    .piePag__enlacesLocal--uno,  .piePag__enlacesLocal--dos{
    
        display: flex;
        flex-direction: row;
        font-size: 12px;
    }
    
    .piePag__enlacesLocal--dos {
    
        display: none;
    } 
    
    .piePag__enlacesLocal--uno > a, .piePag__enlacesLocal--dos > a {
    
        color: rgb(54, 54, 54);
        text-decoration: none;
        margin: 0 8px 8px 0;
    }

    .piePag__enlacesLocal--esc > a {
        
        color: rgb(54, 54, 54);
        text-decoration: none;
        font-weight: 600;
        font-size: 12px;
    }
    
    .piePag__copyMov {
    
       display: none;
    }
    
    .piePag__copyEsc {

        display: inline-block;
        text-align: right;
    }

    .piePag__copyEsc > div > .socialMedia {
    
        margin: 0 3px;
        transition: .3s;
    }

    .piePag__copyEsc > div > .socialMedia:hover {

        filter: invert(0.24) sepia(1) saturate(20) hue-rotate(340deg) brightness(1.04);
    } 
    
    .piePag__copyEsc > p {
    
        font-size: 12px;
        margin-top: 10px;
    }
   
}

@media screen and (min-width: 1024px) {

    .navMovil {

        display: none;
    }

    .navEsc {

        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 63px;
    }

    .navEsc > div:nth-child(1) {

        display: inline-block;
    }

    .navEsc > div:nth-child(1) > img {

        width: 8.3em;
    }

    .navEsc > div > a {

        text-decoration: none;
        outline: none;
        color: #fff;
        margin-left: 1.3em;
        font-size: 16px;
        transition: .1s;
    }

    .navEsc > div > a:hover {

        border-bottom: 3px solid #22E49E;
    }

    .navEsc > div > a:nth-child(2) {

        border-bottom: 3px solid #22E49E;
    }

    .navEsc__menu--ultimo {

        font-weight: 600;
        background-color: #22E49E;
        padding: 12px 30px;
        border-radius: 30px;
    }

    .headerConten__subtit {
        
        line-height: 30px;
    }

    .medios {

        display: flex;
        justify-content: center;
    }

    .medios__info {

        width: 45%;
    }
    
    .medios__info > h2 {
    
        width: 85%;
    }
    
    .medios__cuentas {
    
        margin: 0 0 10px 0;
    }
    
    .cuentas__nav {
    
    position: relative;
    display: flex;
    bottom: -2em;
    margin-left: 7.9em;

    }

    .cliente {

        padding: 0 6em;
    }
    
    .cliente > h2 {
    
        font-weight: 500;
        margin-bottom: 10px;
        font-size: 28px;
    }

    .cliente > p {

        font-size: 21px;
    }
    
    .cliente__datos {
    
        margin: 30px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 85%;
        padding: 30px 40px;
    }
    
    .cliente__datos > img {
    
        width: 67%;
        order: 2;
    }
    
    .datos__maria, .datos__mariaDos {
    
        position: relative;
        bottom: 0;
    }

    .datos__maria {

        order: 1;
        left: 7em;
    }

    .datos__mariaDos {

        order: 3;
        right: 6em;
        top: 1em;
    }
    
    .datos__maria > div {

        width: 20em;
        text-align: right;
        margin-bottom: 35px;
        padding: 17px 27px 17px 17px;
    } 
    
    .datos__mariaDos > div {
    
        width: 21em;
        margin-bottom: 35px;
        padding: 17px 17px 17px 27px;
    } 
    
    .datos__maria > div > img {

        left: 19em;
        top: 1em;
    } 
    
    .datos__mariaDos > div > img {

        left: -3em;
        top: 1em;
    }
    
    .datos__maria > div > p, .datos__mariaDos > div > p {
    
        line-height: 25px;
    }

}

@media screen and (min-width: 1280px) {

    .navEsc {

        margin: 0px 110px;
    }

    .cliente {
    
        padding: 0 10.5em;
    }

    .piePag__enlaces {

        justify-content: space-between;
        padding: 0 90px;
    }
    
}